#container_form,
#container_form2 {
    margin-left: 200px;
    display: flex;
    height: 800px;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    border: black solid;
    align-items: center;
    gap: 10px;
}

#container_form2 {
    width: 300px;
    align-items: center;
}

#savedRockets {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#entry {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    font-size: larger;
    gap: 10px;
}

#conDiv {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    font-size: larger;
    gap: 10px;
}

fieldset {
    border: none;
}

#name {
    padding: 10px;
}

#container_all {
    display: flex;
    flex-direction: row;
}

#container_type {
    display: flex;
    flex-direction: row;
}

#colorpicker {
    margin-top: 10px;
}

#container_color {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    align-items: center;
}

.radiusslidecontainer,
.particleslidecontainer,
.particlesizecontainer,
.lifespanslidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#savedRockets {
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    cursor: pointer;
}

button {
    position: relative;
    height: 20px;
    width: 75px;
}

canvas {
    margin-left: 50px;
    border: black solid;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-left: 50px;
}

h2 {
    margin-top: -10px;
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin-top: 25px;
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    margin-top: 25px;
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    margin-top: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-size: 13px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.typeStar {
    margin-right: 10px;
}

.blue {
    margin-right: 5px;
}

.red {
    margin-right: 5px;
}

.slow {
    margin-right: 10px;
}

.send {
    margin-top: 25px;
}